html,
body {
  background: var(--app-bg, #121212);
  color: var(--app-fg, #fff);
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  display: flex;
  flex: 1;
  height: 100vh;
}

body {
  justify-content: center;
}

#__next {
  display: flex;
  flex: 1;
  min-height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
